.scarebuy{
    padding:0 .2rem;
    height:2.79rem;
    display: flex;
    justify-content: space-between;
    a{
        img{
            width: 3.52rem;
            height: 2.79rem;
        }
    }
}