.header{
    height:1rem;
    display:flex;
    align-items: center;
    justify-content:space-between;
    .left{
        padding-left: .2rem;
        font-size:.4rem;
    }
    .search1{
        width:90%;
        padding-right: .2rem;
        outline: none;
    }
}
.hotSearch{
      font-weight: bold;
      color: #666;
      font-size: 0.33rem;
      margin: .3rem 0 0 .3rem;
}
.hotFood{
    margin: .4rem 0 0 .3rem;
    span{
        height: 0.68rem;
         line-height: 0.68rem;
         background: #f7f7f7;
         display: inline-block;
         padding: 0 .21rem;
         margin:0 .27rem 0.27rem 0;
    }
}