.fixtop{
    //sticky没有纳入主流浏览器
    // 让他的父级有滚动条
    position:sticky;
    top: 0;
    bottom: 0;
    z-index: 998;
    height: 1.06rem;
    background:#00a7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        display: inline-block;
        width: 6.94rem;
        height: .72rem;
        background: #fff;
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        color:#999;
        span{
            margin-left: .1rem;
            font-size: .26rem;
        }
    }
}